@import "tailwindcss";
@plugin "daisyui";

:root[data-theme="light"] {
  --color-primary: #4338ca;
  --color-primary-content: #ffffff;

  --color-secondary: #0d9488;
  --color-secondary-content: #ffffff;

  --color-accent: #f59e0b;
  --color-accent-content: #1c1917;

  --color-neutral: #1f2937;

  --color-base-100: #ffffff;
  --color-base-200: #f3f4f6;
  --color-base-300: #e5e7eb;
  --color-base-content: #111827;

  --color-info: #3b82f6;
  --color-success: #10b981;
  --color-warning: #f59e0b;
  --color-error: #ef4444;
}

:root[data-theme="dark"] {
  --color-primary: #6366f1;
  --color-primary-content: #ffffff;

  --color-secondary: #2dd4bf;
  --color-secondary-content: #042f2e;

  --color-accent: #fbbf24;
  --color-accent-content: #1c1917;

  --color-neutral: #f9fafb;

  --color-base-100: #111827;
  --color-base-200: #1f2937;
  --color-base-300: #374151;
  --color-base-content: #f9fafb;

  --color-info: #60a5fa;
  --color-success: #34d399;
  --color-warning: #fbbf24;
  --color-error: #f87171;
}
:root {
  --font-heading: var(--font-jakarta);
  --font-body: var(--font-inter);
}

body {
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading), sans-serif;
}
